.backGroundImg{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 600px;
    width: 100%;
    background-image: url('https://img.wallpapersafari.com/desktop/1920/1080/26/35/ZSuk36.jpg');
    background-repeat:no-repeat;
    background-position: 100vw 100vh;
    border-radius: 0% 0% 2% 2%;
    border-bottom: #000000 solid 2px;
    
}

.tittle,.subtittle{
  text-align: center;
    font-family: 'Tahoma';
    font-weight:bolder;
    color: #000000;
    text-shadow: 0 0 10px #FFFFFF;
    opacity: 0.9;
}

.tittle{
  
  transform: skew(-0.06turn, 18deg);
  font-size: 60px;
  margin-top: 200px;
  margin-left:10px;
  margin-bottom: 0px;
}

.subtittle{
  margin-top: 0px;
    font-size: 40px;  
    margin-bottom: 50vh;
  }

  @media (max-width: 650px) {
    
    .tittle{
      font-size: 36px;
    }
    .subtittle{
      font-size: 20px;
    }
  }