.navContainer{
    z-index: 3;
    width: 100%;
    position: fixed;
    display: block;
   
   
}

.navAllitems{
    margin: 0%;
    margin-left: -40px;
    display: flex;
    width: 100%;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.705);
    transition: 1.2s;
}


.NavBarItem{
    text-align: center;
    color: azure;
    text-decoration:none;
}

.NavBarItem:hover{
    color:yellow;
}

.navAllitems:hover{
    background-color: rgb(0, 0, 0);
}


@media (max-width: 650px) {
    .navAllitems{
        font-size: x-small;
    }
}