.projectItem{
    align-self: center;
    margin: 10px;
    width: 400px;
    height: 500px;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 500px auto;
    border-radius: 25px 25px 1% 1%;
    box-shadow: -14px 23px 28px -10px rgba(0,0,0,0.58);
    -webkit-box-shadow: -14px 23px 28px -10px rgba(0,0,0,0.58);
    -moz-box-shadow: -14px 23px 28px -10px rgba(0,0,0,0.58);
}
.tittleProject{
    font-family: 'Alumni Sans', sans-serif;
    font-size: 35px;
    flex: 10%;
    width: 100%;
    height: 10%;
    margin: 0%;
    padding-left: 23px;
    transition: all 2s;
}
.icon{
    
    flex: 10%;
    width: 40px;
    height: 40px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: -16px;
}

.tittleProject,.icon{
    
    background-color: #4895EF;   
}



.icon:hover{
  
    background-color: #8fb2da;
    transition: all 0.2s;
}



.about{
    font-family: 'Murecho', sans-serif;
    background-color: #4895EF;
    margin-bottom: 0%;
    padding:5%;
    transition: all 2s;
    border-radius: 10px 10px 0 0;
}


